check-in-papi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

	<apikit:config name="apiConfig" api="${api.spec}" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<!-- <apikit:config name="apiConfig" api="resource::16519426-0a08-4492-aa32-f1a70eb20e0f:check-in-papi:1.0.0:oas:zip:api.json" -->
	<!-- outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" /> -->

	<flow name="api-main">
		<http:listener config-ref="apiHttpListenerConfig" path="/api/${api.majorVersion}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="apiConfig" />
		<error-handler ref="api-error-handler" />
	</flow>
	<flow name="api-console">
		<http:listener config-ref="apiHttpListenerConfig" path="/console/${api.majorVersion}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="apiConfig" />
		<error-handler ref="api-console-error-handler" />
	</flow>
	<flow name="put:\tickets\(PNR)\checkin:application\json:apiConfig">
		<flow-ref doc:name="check-in-by-pnr" doc:id="ae03db27-0deb-4cd2-832d-fe89bd8da77a" name="check-in-by-pnr" />
	</flow>
	<flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiConfig">
		<flow-ref doc:name="payment-approval-by-pnr" doc:id="a9c7b2cd-5b22-4e3b-aa3b-a1295d82d779" name="payment-approval-by-pnr" />
	</flow>
</mule>
